<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>

<div class="min-h-full">
  <nav class="bg-[#F2F0C9]">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="flex h-16 items-center justify-between">
        <div class="flex items-center">
          <div class="flex-shrink-0">
          
          </div>
          <div class="hidden md:block">
          
          </div>
        </div>
        <div class="hidden md:block">
          <div class="ml-4 flex items-center md:ml-6">
          

            <!-- Profile dropdown -->
            <div class="relative ml-3">
              <div>
                <button type="button" class="relative flex max-w-xs items-center rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                  <span class="absolute -inset-1.5"></span>
                  <span class="sr-only">Open user menu</span>
                  <img class="h-8 w-8 rounded-full" src="static/person4.png">
                </button>
              </div>

         
              <div class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-[#9CD918] hover:bg-[#F21B6A] py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
          
                <a href="/" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-2">Salir</a>
              </div>
            </div>
          </div>
        </div>
     
      </div>
</div>

    <!-- Mobile menu, show/hide based on menu state. -->
 

 
  <main></main>

    <div class="bg-[#F2F0C9] h-screen flex items-center justify-center p-2">
        <div class="bg-white p-8 rounded-lg shadow-md max-w-md w-full">
            <!-- Banner Profile -->
            <div class="relative">
                <img src="static/plantines-1167766.jpeg" alt="Bienvenid@" class="w-full rounded-t-lg">
                <img src="static/person4.png" alt="Profile Picture" class="absolute bottom-0 left-2/4 transform -translate-x-1/2 translate-y-1/2 w-24 h-24 rounded-full border-4 border-[#9CD918]">
            </div>
            <!-- User Info with Verified Button -->
            
            <div class="flex items-center mt-4">
            <div>
               <h2 class="text-xl font-bold text-[#01261C]">Frijolito</h2>
            <div>
                <h3 class="text-xs italic text-[#01261C]">Lapacho amarillo</h3>
            </div>
            </div>
             
                
 
            </div>
            <!-- Bio -->
            <p class="text-gray-700 mt-2"> De Sofia Colucci | Plantado por ATP | 25/06/23 </p>
            <!-- Social Links -->
            <div class="flex items-center mt-4 space-x-4">
                <a href="#" class="text-[#9CD918] hover:underline"> Luque, Paraguay </a>
                
                
            </div>
            <!-- Separator Line -->
            <hr class="my-4 border-t border-gray-300">
            <!-- Stats -->
            <div class="flex justify-between text-gray-600 mx-2">
                <div class="text-center">
                    <span class="block font-bold text-lg">3</span>
                    <span class="text-xs">Fotos</span>
                </div>
                <div class="text-center">
                    <span class="block font-bold text-lg">12</span>
                    <span class="text-xs">Visitas</span>
                </div>
               
            </div>
        </div>
    </div>
    
</body>
</html>